<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
       
         <div class="row">
                <div class="header">
                    <ul>
                        <li><a href="/contact us" target="_blank" >contact us</a></li>
                        <li><a href="/store">store</a></li>
                        <li><a href="/" target="_blank">main page</a></li>
                    </ul>
                </div>
            </div>
            <div>
                <form action="">
                    <label for="">title</label>
                    <input type="text" name="" id="title">
                     <label for="Price ">Price </label>
                    <input type="text" name="" id="Price ">
                     <label for=""></label>
                    <input type="text" name="" id="">
                     <label for=""></label>
                    <input type="text" name="" id="">
                </form>
            </div>
        
    </body>

</html>