<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel='stylesheet' href='../node_modules/@fortawesome/fontawesome-free/css/fontawesome.min.css' />
        <title>store</title>
    </head>

    <body>
            <div class="row">
                <div>
                    <div class="prodect ">
                    <div class="card" style="width: 400px;" >
                        <img class="card-img-top" src="./images/flower.jpg" alt="Card image" width="300px"
                            height="300px" sizes="100%">
                        <div class="card-body">
                            <h4 class="card-title"><i class="fas fa-book"></i> John Doe</h4>
                            <p class="card-text"><i class="Fas Fa-city"></i> Some example text.</p>
                            <a href="#" class="btn btn-primary text-center">pay</a>
                        </div>
                    </div>
                </div>
                 <div class="prodect">
                    <div class="card" style="width: 400px;" >
                        <img class="card-img-top" src="./images/tea.jpg" alt="Card image" width="300px"
                            height="300px" sizes="100%">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary text-center">pay</a>
                        </div>
                    </div>
                </div>
                </div>
                <br>
                <div>
                    <div class="prodect ">
                    <div class="card" style="width: 500px;">
                        <img class="card-img-top" src="./images/dom.jpg" alt="Card image" width="300px"
                            height="300px" sizes="100%">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary text-center">pay</a>
                        </div>
                    </div>
                </div>
                 <div class="prodect">
                    <div class="card" style="width: 500px;">
                        <img class="card-img-top" src="./images/furet.jpg" alt="Card image" width="300px"
                            height="300px" sizes="100%">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary text-center">pay</a>
                        </div>
                    </div>
                </div>
                </div>
                <br>
                <div>
                    <div class="prodect">
                    <div class="card" style="width: 500px;">
                        <img class="card-img-top" src="./images/flower.jpg" alt="Card image" width="300px"
                            height="300px" sizes="100%">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary text-center">pay</a>
                        </div>
                    </div>
                </div>
                 <div class="prodect">
                    <div class="card" style="width: 500px;">
                        <img class="card-img-top" src="./images/road.jpg" alt="Card image" width="300px"
                            height="300px" sizes="100%">
                        <div class="card-body">
                            <h4 class="card-title">John Doe</h4>
                            <p class="card-text">Some example text.</p>
                            <a href="#" class="btn btn-primary text-center">pay</a>
                        </div>
                    </div>
                </div>
                </div>
                
                 
                 
            </div>
    </body>

</html>