<div class="header">
    <ul>
        <li><a href="/contact">contact us</a></li>
        <li><a href="/store">store</a></li>
        <li><a href="/">main page</a></li>
        <li>>
            <div class="dropdown">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                    user mangement
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="/login">sing in</a>
                    <a class="dropdown-item" href="/singup">sing up</a>
                    <a class="dropdown-item" href="/profile">profile</a>
                    <a class="dropdown-item" href="/logout">log out</a>
                </div>
            </div>
        </li>
    </ul>
    <div class="logo">waad store</div>

</div>